<!-- <h1>Hello</h1> -->

<!-- <app-hello></app-hello> -->
<!-- <app-user-list></app-user-list>

<app-student-list></app-student-list>

<app-country-list></app-country-list>

<app-login></app-login> -->

<!-- <button (click)="getName('prashant')">Click me</button> -->
<!-- <button (click)="getName()">Click me</button> -->

<!-- <button (click)="getData()"> callFunction</button> -->

<!-- <br>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup">
<br>
<br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown">

<br><br>

<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur">

<br><br>

<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input">


<h1 (mouseover)="getData('over')">Code step by step</h1>


<h1 (mouseleave)="getData('leave')">Code step by step pk</h1>


 -->

 <!-- <input type="text" #val (keyup)="getValue(val.value)" placeholder="Enter name" name="name"/>
 <br>
 <br>
 <h1>Inputval</h1>

 <p>{{displayval}}</p> -->

 <!-- <h1>Get Input Box Value and Display </h1>

 <input type="text" placeholder="Enter name" #key >
 <button (click)="getInputVal(key.value)">click</button>

 <p>{{inputValue}}</p> -->

 <!-- <h1>Counter</h1>

 <button (click)="increment()">+</button>

 <p>{{count}}</p>

 <button (click)="decrement()">-</button> -->


 <!-- <input type="text" name="user-name" value="{{name}}" disabled="{{disable}}">

 <br/> <br/>

 <input type="text" name="user-name" [value]="name" [disabled]="disable">
 -->

 <!-- <h1 *ngIf="show else elseBlock">
  Code step by Step
 </h1> -->

 <!-- // if else -->
 <!-- <h1 *ngIf="show==='yes'; then ifBlock else elseBlock"></h1>

 <ng-template #ifBlock>
  <h1>if condition</h1>
 </ng-template>
 <ng-template #elseBlock >
  <h1>Else condition</h1>
 </ng-template> -->


 <!-- else if using ng-template -->

 <!-- <ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red color</h1>
 </ng-template>

 <ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">Green color</h1>
 </ng-template>

 <ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">Green color</h1>
 </ng-template> -->


 <!-- switch -->

 <!-- <div [ngSwitch]="color">

  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Red Color</h1>

  <h1 *ngSwitchCase="'yellow'" style="color: yellow;">Yellow Color</h1>
  <h1 *ngSwitchCase="'orchid'" style="color: orchid;">orchid Color</h1>
  <h1 *ngSwitchDefault>Unknown color</h1>

</div> -->


<!-- Loop in Anglular -->

<!--
<h3 *ngFor="let item of users">{{item}}</h3>


<h3 *ngFor="let item of userDetails">{{item.name}} -- {{item.email}}</h3> -->

<!-- Nested for Loop in Anglar -->


<!--
<ul *ngFor="let item of userDetails">
  <li>{{item.name}}</li>
  <ul *ngFor="let account of item.socialAccounts">
    <li>{{account}}</li>
  </ul>

</ul> -->

<!-- Style Binding -->



<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor"> prashant Trivedi</h1>


<button (click)="updateColor()">Update color</button>





 -->
<!-- <app-header></app-header> -->

<!--

  Basics forms in Angular

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">

  <input type="text" ngModel name="user" placeholder="Enter User Name">
  <br><br>
  <input type="text" ngModel name="email" placeholder="Enter User Email">
  <br><br>
  <input type="text" ngModel name="password" placeholder="Enter User Password">
  <br><br>
  <button>Register</button>

</form>

<ul>
  <li>{{formdata.user}}</li>
  <li>{{formdata.email}}</li>
  <li>{{formdata.password}}</li>
</ul> -->


<!-- <h1>
  Heading Tag
</h1>

<button (click)="toggle()">Toggle</button>

<h1 *ngIf="display"> element

</h1> -->
















